<a href="https://colab.research.google.com/github/jimsjoo/gilbut_portfolio/blob/master/ETF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import json
from pandas import json_normalize

url = 'https://finance.naver.com/api/sise/etfItemList.nhn'
json_data = json.loads(requests.get(url).text)
df = json_normalize(json_data['result']['etfItemList'])
# df.to_excel('etf_list.xlsx')
df

    itemcode  etfTabCode            itemname  ...      quant  amonut  marketSum
0     069500           1           KODEX 200  ...    6583587  206905      47326
1     252670           3    KODEX 200선물인버스2X  ...  145983547  596255      24811
2     102110           1           TIGER 200  ...    1785816   56156      23190
3     122630           3          KODEX 레버리지  ...   45471567  683237      21948
4     153130           6          KODEX 단기채권  ...       5733     587      20888
..       ...         ...                 ...  ...        ...     ...        ...
448   285020           2      KBSTAR 200철강소재  ...         61       0         22
449   334700           5  KBSTAR 팔라듐선물인버스(H)  ...        584       3         21
450   284980           2        KBSTAR 200금융  ...       9102      61         20
451   287310           2     KBSTAR 200경기소비재  ...        109       0         17
452   287300           2        KBSTAR 200건설  ...       1007       7         17

[453 rows x 12 columns]